{% extends 'control_panel/panel-master.html' %}
<!-- header | title -->
{% block page_title %}Stantoche | Admin Panel | Create Project Tool {% endblock %}
<!--/ header | title  -->
<body class="ttr-opened-sidebar ttr-pinned-sidebar">

	<!--Main container start -->
		{% block main %}
			{% block breadcrumb %}
				<div class="db-breadcrumb">
					<h4 class="breadcrumb-title">Create Project Tool</h4>
					<ul class="db-breadcrumb-list">
						<li><a href="{{url_for('admin_dashboard.admin_panel')}}"><i class="fa fa-home"></i>Home</a></li>
						<li>Create Project Tool</li>
					</ul>
				</div>
			{% endblock %}
			<!-- Card -->
			<div class="row">
				<div class="col-lg-12">
					{% for message in get_flashed_messages() %}
					<h2>{{ message }}</h2>
					{% endfor %}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 m-b30">
					<div class="widget-box">
						<div class="email-wrapper">
							<div class="mail-list-container">
								<form action="/admin/createProjectTool" method="POST" enctype="multipart/form-data" class="mail-compose">
									<div class="form-group col-12">
                                        <label for="tool_name">Tool Name:</label>
										<!--<input class="form-control" type="text" placeholder="Tool Name" id="tool_name" name="tool_name" required>-->
										<select name="tool_name" id="tool_name" class="form-control" required>
                                            <option value="HTML5">HTML5</option>
											<option value="Bootstrap">Bootstrap</option>
											<option value="Figma">Figma</option>
											<option value="Flask">Flask</option>
											<option value="WordPress">WordPress</option>
											<option value="Bubble">Bubble</option>
											<option value="Django">Django</option>
											<option value="Laravel">Laravel</option>
											<option value="JavaScript">JavaScript</option>
											<option value="PHP">PHP</option>
											<option value="Python">Python</option>
											<option value="CSS">CSS</option>
                                        </select>
									</div>
                                    <div class="form-group col-12">
										<label for="tool_description">Describe Tool:</label>
										{{ ckeditor.create(name='tool_description') }}
									</div>
									<div class="form-group col-12">
                                        <label>Select Project <sub>(Project must already exist in the database)</sub>:</label>
                                        <select name="project_id" id="project_id" class="form-control" required>
                                            {% for row in projects_record %}
											{% with record_id = row[0] %}
                                            <option value="{{ record_id }}">{{ row[1] }}</option>
											{% endwith %}
                                            {% endfor %}
                                        </select>
                                    </div>
									<div class="form-group col-12">
										<!--<button type="submit" class="btn btn-lg">Send</button>-->
										<input type="submit" class="btn btn-lg" value="Send" onclick="ProjectToolMsg()">
									</div>
								</form>
							</div>
						</div>
					</div> 
				</div>
				
			</div>
			<!-- Card END -->
		{% endblock %}
		<!--/ Main container start -->

	<div class="ttr-overlay"></div>

