{% extends 'control_panel/panel-master.html' %}
<!-- header | title -->
{% block page_title %}Stantoche | Admin Panel | {% endblock %}
<!--/ header | title  -->
<body class="ttr-opened-sidebar ttr-pinned-sidebar">

	<!--Main container start -->
		{% block main %}
			{% block breadcrumb %}
				<div class="db-breadcrumb">
					<h4 class="breadcrumb-title">Dashboard</h4>
					<ul class="db-breadcrumb-list">
						<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
						<li>Dashboard</li>
					</ul>
				</div>
			{% endblock %}
			<!-- Card -->
			<div class="row">
				<div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
					<div class="widget-card widget-bg1">					 
						<div class="wc-item">
							<h4 class="wc-title">
								Total Projects
							</h4>
							<span class="wc-des">
								Completed Projects
							</span>
							<span class="wc-stats counter">
								{{ project_count }}
							</span>		
							<div class="progress wc-progress">
								<div class="progress-bar" role="progressbar" style="width: {{ (project_count/project_requests_count)*100 }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="wc-progress-bx">
								<span class="wc-change">
									Change
								</span>
								<span class="wc-number ml-auto">
									{{ (project_count/project_requests_count)*100 }}%
								</span>
							</span>
						</div>				      
					</div>
				</div>
				<div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
					<div class="widget-card widget-bg2">					 
						<div class="wc-item">
							<h4 class="wc-title">
								 Project Requests
							</h4>
							<span class="wc-des">
								New Project Requests
							</span>
							<span class="wc-stats counter">
								{{ project_requests_count }} 
							</span>		
							<div class="progress wc-progress">
								<div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="wc-progress-bx">
								<span class="wc-change">
									Change
								</span>
								<span class="wc-number ml-auto">
									100%
								</span>
							</span>
						</div>				      
					</div>
				</div>
				<div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
					<div class="widget-card widget-bg3">					 
						<div class="wc-item">
							<h4 class="wc-title">
								Mentorship Requests
							</h4>
							<span class="wc-des">
								New Mentorship Requests
							</span>
							<span class="wc-stats counter">
								{{ mentorship_count }} 
							</span>		
							<div class="progress wc-progress">
								<div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="wc-progress-bx">
								<span class="wc-change">
									Change
								</span>
								<span class="wc-number ml-auto">
									100%
								</span>
							</span>
						</div>				      
					</div>
				</div>
				<div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
					<div class="widget-card widget-bg4">					 
						<div class="wc-item">
							<h4 class="wc-title">
								Training Requests
							</h4>
							<span class="wc-des">
								New Training Requests
							</span>
							<span class="wc-stats counter">
								{{ training_count }} 
							</span>		
							<div class="progress wc-progress">
								<div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="wc-progress-bx">
								<span class="wc-change">
									Change
								</span>
								<span class="wc-number ml-auto">
									100%
								</span>
							</span>
						</div>				      
					</div>
				</div>
			</div>
			<!-- Card END -->
			<div class="row">
				<!-- Your Profile Views Chart -->
				<!--<div class="col-lg-8 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>Your Profile Views</h4>
						</div>
						<div class="widget-inner">
							<canvas id="chart" width="100" height="45"></canvas>
						</div>
					</div>
				</div>-->
				<!-- Your Profile Views Chart END-->
				<!--<div class="col-lg-4 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>Notifications</h4>
						</div>
						<div class="widget-inner">
							<div class="noti-box-list">
								<ul>
									<li>
										<span class="notification-icon dashbg-gray">
											<i class="fa fa-check"></i>
										</span>
										<span class="notification-text">
											<span>Sneha Jogi</span> sent you a message.
										</span>
										<span class="notification-time">
											<a href="#" class="fa fa-close"></a>
											<span> 02:14</span>
										</span>
									</li>
									<li>
										<span class="notification-icon dashbg-yellow">
											<i class="fa fa-shopping-cart"></i>
										</span>
										<span class="notification-text">
											<a href="#">Your order is placed</a> sent you a message.
										</span>
										<span class="notification-time">
											<a href="#" class="fa fa-close"></a>
											<span> 7 Min</span>
										</span>
									</li>
									<li>
										<span class="notification-icon dashbg-red">
											<i class="fa fa-bullhorn"></i>
										</span>
										<span class="notification-text">
											<span>Your item is shipped</span> sent you a message.
										</span>
										<span class="notification-time">
											<a href="#" class="fa fa-close"></a>
											<span> 2 May</span>
										</span>
									</li>
									<li>
										<span class="notification-icon dashbg-green">
											<i class="fa fa-comments-o"></i>
										</span>
										<span class="notification-text">
											<a href="#">Sneha Jogi</a> sent you a message.
										</span>
										<span class="notification-time">
											<a href="#" class="fa fa-close"></a>
											<span> 14 July</span>
										</span>
									</li>
									<li>
										<span class="notification-icon dashbg-primary">
											<i class="fa fa-file-word-o"></i>
										</span>
										<span class="notification-text">
											<span>Sneha Jogi</span> sent you a message.
										</span>
										<span class="notification-time">
											<a href="#" class="fa fa-close"></a>
											<span> 15 Min</span>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>-->

				<div class="col-lg-6 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>New Training Requests</h4>
						</div>
						<div class="widget-inner">
							<div class="new-user-list">
								<ul>
									{% for training in training_contact %}
									<li>
										<span class="new-users-text">
											<a href="#" class="new-users-name">{{ training[1] }} {{ training[2] }}</a>
											<span class="new-users-info">{{ training[6] }}</span>
										</span>
										<span class="new-users-btn">
											<a href="{{url_for('single_training_contact_bp.single_training_contact', id=training[0])}}" class="btn button-sm outline">View</a>
										</span>
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>New Mentorship Requests</h4>
						</div>
						<div class="widget-inner">
							<div class="new-user-list">
								<ul>
									{% for mentorship in mentorship_contact %}
									<li>
										<span class="new-users-text">
											<a href="#" class="new-users-name">{{ mentorship[1] }} {{ mentorship[2] }}</a>
											<span class="new-users-info">{{ mentorship[6] }}</span>
										</span>
										<span class="new-users-btn">
											<a href="{{url_for('single_mentorship_contact_bp.single_mentorship_contact', id=mentorship[0])}}" class="btn button-sm outline">View</a>
										</span>
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-12 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>New Project Requests</h4>
						</div>
						<div class="widget-inner">
							<div class="new-user-list">
								<ul>
									{% for project in project_contact %}
									<li>
										<span class="new-users-text">
											<a href="#" class="new-users-name">{{ project[1] }} {{ project[2] }}</a>
											<span class="new-users-info">{{ project[3] }}</span>
										</span>
										<span class="new-users-btn">
											<a href="{{url_for('single_project_contact_bp.single_project_contact', id=project[0])}}" class="btn button-sm outline">View</a>
										</span>
									</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!--<div class="col-lg-6 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>Orders</h4>
						</div>
						<div class="widget-inner">
							<div class="orders-list">
								<ul>
									<li>
										<span class="orders-title">
											<a href="#" class="orders-title-name">Anna Strong </a>
											<span class="orders-info">Order #02357 | Date 12/08/2019</span>
										</span>
										<span class="orders-btn">
											<a href="#" class="btn button-sm red">Unpaid</a>
										</span>
									</li>
									<li>
										<span class="orders-title">
											<a href="#" class="orders-title-name">Revenue</a>
											<span class="orders-info">Order #02357 | Date 12/08/2019</span>
										</span>
										<span class="orders-btn">
											<a href="#" class="btn button-sm red">Unpaid</a>
										</span>
									</li>
									<li>
										<span class="orders-title">
											<a href="#" class="orders-title-name">Anna Strong </a>
											<span class="orders-info">Order #02357 | Date 12/08/2019</span>
										</span>
										<span class="orders-btn">
											<a href="#" class="btn button-sm green">Paid</a>
										</span>
									</li>
									<li>
										<span class="orders-title">
											<a href="#" class="orders-title-name">Revenue</a>
											<span class="orders-info">Order #02357 | Date 12/08/2019</span>
										</span>
										<span class="orders-btn">
											<a href="#" class="btn button-sm green">Paid</a>
										</span>
									</li>
									<li>
										<span class="orders-title">
											<a href="#" class="orders-title-name">Anna Strong </a>
											<span class="orders-info">Order #02357 | Date 12/08/2019</span>
										</span>
										<span class="orders-btn">
											<a href="#" class="btn button-sm green">Paid</a>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>-->

				<!--<div class="col-lg-12 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>Basic Calendar</h4>
						</div>
						<div class="widget-inner">
							<div id="calendar"></div>
						</div>
					</div>
				</div>-->
			</div>
		{% endblock %}
		<!--/ Main container start -->

	<div class="ttr-overlay"></div>

